body {
    background-color: #3F484D;
}
header {
    background-color: #2980b9;
    color: #ffffff;
}

.table-own {
    background-color: #ffffff;
}

.container {
    width: 60%;
}

#fixedButton {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    color: #ffffff;
    background-color: #07507F;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}
body.loading {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}
.refresh {
    background-color: #07507F;
    color: #ffffff;
}